/* .profileprofileContainer a,li,em,button,input,textarea,select{
    text-decoration:none;
    list-style:none;
    font-style:normal;
    outline:none !important;
    transition:0.5s;
    resize:none;
} */

/* .profileContainer ul{
    position:relative;
    left:-20px;
}

.profileContainer li{
    padding:20px 0;
    color:gray;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.profileContainer b{
    color:#fff;
}

.profileBtn{
    background:#7ed321;
    padding:10px;
    border:0;
    outline:none;
    color:#000;
    display:block;
    width:60px;
    margin:10px 0;
    text-align:Center;
    border-radius:5px;
    cursor:pointer;
}


.camera{
    width: 2rem;
    height: 2rem;
}

.profileContainer{
    width:90%;
    margin:10vh auto;
}

.profileContainer table{
    width:100%;
}

.profileContainer table td{
    margin:30px;
    border-radius:5px;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    padding:30px;
    color:#fff;
    vertical-align:top;
}

.profileContainer table td:nth-child(1){
  text-align:Center;
}

.profileContainer table td:nth-child(2) .fa{
  float:right;
}

.profileContainer table td:nth-child(2) input{
    background:none;
    outline:none;
    border:0;
    color:gray;
    width:60%;
    pointer-events:none;
}

.profileContainer table td:nth-child(1) section{
    position:relative;
    width:200px;
    height:200px;
    margin:5vh auto;
}


.profileContainer table td:nth-child(1) .fa{
    position:absolute;
    right:25px;
    top:25px;
    font-size:2em;
}

.profileContainer table td img{
    width:200px;
    height:200px;
    border-radius:50%;
}

.profileContainer table td h3{
    color:gray;
    font-weight:normal;
}

.container table .profileSection2{
   text-align:left;
}

.profileContainer table .profileSection2 label{
    display:block;
    margin:10px 0;
    text-align:left;
} 

.profileContainer table .profileSection2 select{
    background:#1e1e1e;
    width:100%;
    padding:19px;
    border:0;
    outline:none;
    color:gray;
}

.profileContainer table .profileSection2 input{
    background:#1e1e1e;
    width:90%;
    padding:20px;
    color:gray;
    border:0;
    outline:none;
}

.profileContainer table .profileSection2 .quantityselector{
    height:80px;
    border-bottom:0px;
}

.profileContainer table .profileSection2 .quantityselector section{
    display:inline-block !important;
    width:45%;
    margin:0 10px;
}

.container table textarea{
    width:90%;
    resize:none;
    outline:none;
    border:0;
    background:#1e1e1e;
    color:gray;
    padding:20px;
}



.profileContainer .inframe .card{
    width:100%;
    height:40vh;
    position:relative;
    overflow:hidden;
    display:block;
    margin:10px 0;
}

.profileContainer .inframe .card img{
    width:100%;
    height:40vh;
    border-radius:0;
}

.card_content{
    height:0;
    position:absolute;bottom:0;
    width:100%;background-color:rgba(1,1,1,0.8);
    transition:0.5s;
}

.card_content ul li{
    padding:5px;
    font-size:13px;
}

.card_content h3{
    text-align:Center;
    color:#fff;
}

.inframe .card:hover > .card_content{
    height:40vh;
}

.card_content .profileBtn{
    font-size:12px;
    width:100px;
    display:inline-block;
    margin:0 10px;
}




@media (max-width:820px){
    .profileContainer{
      width:100%;
    }
    .profileContainer table td{
        display:block;
        width:90%;
        margin:0px;
    }
    .profileContainer table .section2 .quantityselector section{
        width:41%;
        margin:0px 10px;
    }
    .profileContainer table .profileSection2 ul{
        position:relative;
        left:-40px;
    }
} */

.profileContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.profileContent{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}

.profilePic{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.image{
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgba(240, 195, 33, 0.082);
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.camera{
    position:absolute;
    top: 4rem;
    z-index: 1;
    left: 70%; 
    width: 4rem;
    height: 4rem;
}

.profilePic h2{
   font-size: 2rem;
   text-align: center;
}

.details{
    margin-top: 4rem;
}

.details li{
    list-style: none;
}

.details li b{
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.details input{
    border: none;
    outline: none;
    background-color: rgba(212, 209, 209, 0.623);
    padding: 10px;
    font-size: 20px;
    margin-bottom: 1rem;
    width: 100%;
}

.profileBtn{
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(255, 198, 0);
    color: white;
    padding: 9px 20px;
    -webkit-box-shadow: 1px 11px 20px 0px rgb(239 63 62 / 12%);
    box-shadow: 1px 11px 20px 0px rgb(239 63 62 / 12%);
    cursor: pointer;
}

@media(max-width:767px){
    .profileContainer{
        width: 100%;
    }

    .profileContent{
        flex-direction: column;
        padding-bottom: 2rem;
    }
}



