.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.login{
    margin-right:2rem;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    cursor: pointer;
}

.logo{
    text-transform: uppercase;
    margin-left: 1.5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 3rem;
}

.logo span{
    color:#fb6362;
    margin-right: .5rem;
}