.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    z-index: 1000;
    width: 100%;
    background-color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
}

.login{
    margin-right:2rem;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    cursor: pointer;
}

.logo{
  position: absolute;
  top: 0;
  left: 43%;
  height: 80px;
  min-width: max-content;
  padding: 1rem;
  text-transform: uppercase;
  margin-left: 1.5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  font-size: 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 198, 0) ;
}

.logo span{
    color: #fff;
    display: block;
    margin-right: .5rem;
}

.navItems{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.listItem{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.listItem {
  position: relative;
}
.listItem:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
.listItem:hover:after {
  width: 100%;
}

.listItem:after,
.listItem:before {
  transition: all .5s;
}

.mobile{
   display: flex;
   margin-left: 4rem;
}

.mobile li{
  list-style: none;
}